@font-face {
  font-family: 'MyFont';
  src:  url('./JanyssBrush.otf') format('otf'),
        url('./JanyssBrush.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: azure;
}

.hello {
  color: red;
  background: url('./giphy.gif');
  font-family: 'MyFont';
  font-size: 40px;
}
